{%extends "registration/base.html"%}
{% load bootstrap3 %}
{% block content %}
<div class="container w3-margin-top">

    <div class="w3-row-padding">


        <div class="w3-col m12 l4 w3-mobile">
            {% if form.errors %}
            <p> Password or Username is incorrect </p>
            {% endif %}
            <div class="w3-card-4">


                <header class="w3-container ">
                    <h2 class="text-center insta">Awwwwards</h2>
                    <hr>
                </header>
                <div class="w3-container">

                    <form action="/accounts/login/" method="post" class="w3-container">
                        {% csrf_token %}
                                    {% bootstrap_form form%}



                        <div class="form-group">
                            <input type="submit" class="w3-button w3-block w3-blue w3-round" value="Login">
                        </div>

                        <input type="hidden" name="next" value="{{next}}">

                    </form>

                </div>

            </div>

            <div class="w3-card-4 w3-margin-top w3-padding">

                <div class="w3-container w3-padding">
                    <p class="w3-center"> Don't Have an account? <a href="/accounts/register">Sign Up</a> </p>

                </div>

            </div>

        </div>
         <div class="w3-col l2">

        </div>


    </div>
</div>


{% endblock %}