{% load bootstrap3 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>Awwwwards</title>

    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/project.css'%}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <link rel="stylesheet" href="https://use.typekit.net/qhm8wqj.css" />

    {% endblock %}

</head>
{% include 'navbar.html' %}

<body>

    <h1 class="fancy-link " style="text-align: center"> <strong> <a href="{% url 'home'%}" style="color: #444; text-decoration: none">AWWARDS
                >>> </a> </strong> ACCOUNT.</h1>

    <div class="content content--card col-md-4">
        <div class="card">
            {% if profile.profile.profile_pic%}
            <img src="{{profile.profile.profile_pic.url}}" width="100px" height="100px " alt="" class="img-responsive"
                style="border-radius:50%">
            {% endif %}
            <h class="card__title">{{user.username}}</h>
            <p class="card__body">{{user.profile.Bio}}.</p>

        </div>

    </div>

    <div class="content content--buttons">
        <form class="button button-one" action="{% url 'update_profile' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="submit" class="btn btn-success" value="Update">
        </form>
    </div>


    <div class="col-md-8 ">

    </div>

    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% bootstrap_javascript %}
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="{% static 'js/oscars.js' %}"></script>
    {% block javascript %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js">
    </script>
    <script src="https://use.fontawesome.com/191e478c5e.js"></script>
    <script src="static/js/gulpfile.js"></script>
    {% endblock %}

</body>

</html>