{% extends 'base.html' %}
{% load static%}

{% block content %}

<div class="w3-display-container w3-animate-opacity " style="background-image:url('img1.jpg')">
    <img src="{% static 'images/tab.jpg' %}" alt="hourglass" style="width:100%;min-height:350px;max-height:600px;filter: brightness(40%);
">

<div class="w3-display-middle w3-text-white w3-center">
    <h2 class="w3-jumbo" style="font-family: 'Lobster', cursive;text-decoration: underline overline;">Awwwwards</h2>


</div>
</div>


<div class="w3-container">
    <div class="w3-row">
        <h2 class="w3-center">Featured Projects</h2>
        {% for photo in screenshots %}
        <div class="w3-col l4 m6 s12 w3-padding">
            <div class="w3-card-4 w3-white">

                <header class="hovereffect" style="height:300px">
                    <img src=" {{ photo.screenshot.cdn_url }}" class="img-responsive w3-image w3-center" style="min-height:100%; max-height:100%">
                    <div class="overlay">
                        <p><a class="info w3-btn w3-round-xxlarge w3-white w3-padding" href="{% url 'rate' photo.id %}}"><small>Vote Now</small></a></p>
                        <p><a class="info w3-btn w3-round-xxlarge w3-white w3-padding" href="{{photo.url}}"><small>Visit Site</small></a></p>

                    </div>

                </header>

                <div class="w3-container w3-margin">

                    <strong>{{ photo.title }}</strong>
                       <a href="{% url 'project' project_id=photo.id %}" class=" w3-right "style="color:blue">View More</a>


                </div>

                <footer class="w3-container w3-margin">

                    <small>{{photo.owner.username}}</small>


                        <div class="row">

                            <div class="col-md-2" style="color:black;font-size: 10px;font-weight: bold;">
                                <h5 class="card-title"></h5>
                            </div>
                        </div>

                <small class="text-muted">{{photo.created_on|timesince}}</small>


                </footer>

            </div>

        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}