{% load bootstrap3 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>Awwwwards</title>

    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/project.css'%}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <link rel="stylesheet" href="https://use.typekit.net/qhm8wqj.css" />

    {% endblock %}

</head>
{% include 'navbar.html' %}

<body>
    <h1 class="fancy-link" style="text-align: center">PROFILE.</h1>
    <div class="container">



        <h1 class="button button-one" style="font-size: 25px; color:white">{{profile.profile.full_name}}</h1>
        <div class="content content--buttons">
            <p>Upload Your Project</p>
            <a href="/upload"><button class="button button-one">Upload</button>
            </a>
        </div>
        <div class="content content--card">
            <div class="card">
                {% if profile.profile.profile_pic%}
                <img src="{{profile.profile.profile_pic.url}}" width="100px" height="100px " alt=""
                    class="img-responsive" style="border-radius:50%">
                {% endif %}
                <h class="card__title">{{user.username}}</h>
                <p class="card__body">{{user.profile.Bio}}.</p>

            </div>

        </div>






        <div class="">


            <div class="w3-row">
                <h2 class="w3-center">Your Projects</h2>
                <hr>
                {% for photo in project %}
                <div class="w3-col l4 m6 s12 w3-padding">
                    <div class="w3-card-4 w3-white">

                        <header class="hovereffect" style="height:300px">
                            <img src=" {{ photo.screenshot.cdn_url }}" class="img-responsive w3-image w3-center"
                                style="min-height:100%; max-height:100%">
                            <div class="overlay">
                                <p><a class="info w3-btn w3-round-xxlarge w3-white w3-padding" href=""><small>Vote
                                            Now</small></a></p>
                                <p><a class="info w3-btn w3-round-xxlarge w3-white w3-padding"
                                        href="{{photo.url}}"><small>Visit Site</small></a></p>

                            </div>

                        </header>

                        <div class="w3-container w3-margin">

                            <strong>{{ photo.title }}</strong>
                            <a href="{% url 'project' project_id=photo.id %}" class=" w3-right " style="color:blue">View
                                More</a>


                        </div>

                        <div class="w3-container w3-margin">
                            <p>{{user.username}}</p>


                            <div class="row">

                                <div class="col-md-2" style="color:black;font-size: 10px;font-weight: bold;">
                                    <h5 class="card-title"></h5>
                                </div>
                            </div>

                            <p class="text-muted">{{photo.created_on|timesince}}</p>


                        </div>


                    </div>

                </div>

                {% endfor %}
            </div>

            <div class="content content--card">
                <div class="card">
                    <h3 class="card__title">Contact Information</h3>
                    <div class="card__body">
                        <p><i class="fas fa-at"></i> {{user.email}}</p>
                        <hr>
                        <p><i class="fas fa-map-marker-alt"></i> {{profile.profile.address}}</p>
                        <hr>
                        <p><i class="fas fa-phone"></i> {{profile.profile.phone_number}}</p>
                        <hr>
                    </div>
                </div>

            </div>


        </div>
        {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        {% bootstrap_javascript %}
        {% endblock %}

        <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
        <script src="{% static 'js/oscars.js' %}"></script>
        {% block javascript %}
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js">
        </script>
        <script src="https://use.fontawesome.com/191e478c5e.js"></script>
        <script src="static/js/gulpfile.js"></script>
        {% endblock %}

</body>

</html>